fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlmodel==0.0.22
sqlalchemy==2.0.32
pydantic==2.8.2
pydantic-settings==2.4.0
psycopg[binary]==3.2.1
scikit-learn==1.5.1
numpy==2.0.1
pandas==2.2.2
joblib==1.4.2
python-multipart==0.0.9
orjson==3.10.7
pyyaml==6.0.2

networkx==3.4.2
sentence-transformers==3.4.1
transformers==4.48.3
spacy==3.8.4
faiss-cpu==1.10.0
shap==0.47.1
mlflow==2.20.3
evidently==0.6.0
httpx==0.28.1
kagglehub
